html, body {
    height: 100%;
}

body {
    background-color: black;
}

#box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#box-content {
    background-image: url('water.jpg');
    line-height: 1.4;
    width: 800px;
    height: 600px;
    padding: 20px;
}
