html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('bg.jpg');
  background-size: 463px 463px;
}

#outer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#monitor {
  margin: 0 auto;
  width: 896px;
  height: 800px;

  background-image: url('8513@2x.png');
  background-size: contain;
}

#box-content {
  z-index: -1;
  position: relative;
  top: 130px;
  left: 120px;
  width: 620px;
  height: 450px;

  padding: 20px;

  background-color: #008080; /* image: url('water.jpg'); */
  line-height: 1.4;

  overflow: scroll;
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 0 100%; }
}

#scanlines {
  z-index: -1;
  position: relative;
  top: -360px;
  height: 500px;
  margin: 0 40px;

  background: -webkit-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 2px,
    rgba(0,0,0,0.15) 2px,
    rgba(0,0,0,0.15) 4px
  );
  -webkit-background-size: 100% 4px;
  /** MOZILLA **/
  background: -moz-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 2px,
    rgba(0,0,0,0.15) 2px,
    rgba(0,0,0,0.15) 4px
  );
  -moz-background-size: 100% 4px;

  -webkit-animation: animatedBackground 60s linear infinite;
  -moz-animation: animatedBackground 60s linear infinite;
}
